<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <pd.My.MySettings>
            <setting name="SettingCodeLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettingBracketKey" serializeAs="String">
                <value>RControlKey</value>
            </setting>
            <setting name="SettingTitleTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingBracketModeOnlyScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingInterval" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SettingDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingDarkModeText" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="SettingOpacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="SettingTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingHeight" serializeAs="String">
                <value>268</value>
            </setting>
            <setting name="SettingWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SettingLocationTop" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="SettingLocationLeft" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="SettingTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingListboxSelectedIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingSelectionStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingSelectionLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingTextBoxZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingListBoxFontSize" serializeAs="String">
                <value>8.25</value>
            </setting>
            <setting name="SettingSendkeysOnlyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingBracketOpen" serializeAs="String">
                <value>«</value>
            </setting>
            <setting name="SettingBracketClose" serializeAs="String">
                <value>»</value>
            </setting>
            <setting name="SettingSplitterDistance" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="SettingSplitterWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SettingFirstLoad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingInfiniteLoop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingTitleText" serializeAs="String">
                <value>PD</value>
            </setting>
            <setting name="SettingIgnoreWhiteSpaceOpen" serializeAs="String">
                <value>‹</value>
            </setting>
            <setting name="SettingIgnoreWhiteSpaceClose" serializeAs="String">
                <value>›</value>
            </setting>
            <setting name="SettingInsertSymbol" serializeAs="String">
                <value>į</value>
            </setting>
            <setting name="SettingRepeatKey" serializeAs="String">
                <value>Scroll</value>
            </setting>
            <setting name="SettingOpenCloseBracketModeScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingSettingClickItemToRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingBackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingBackgroundImageLayout" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SettingDB" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>test</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SettingBorderStyle" serializeAs="String">
                <value>4</value>
            </setting>
        </pd.My.MySettings>
    </userSettings>
</configuration>
