<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <pd.My.MySettings>
            <setting name="SettingDB" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>'PD 1.0.1</string>
                        <string>'Keyboard assist</string>
                        <string>'A-Z, 0-9</string>
                        <string>'Sendkeys (search engine how to use)</string>
                        <string>'</string>
                        <string>'Master Settings: (pd.exe.config -&gt; user.config)</string>
                        <string>'C:\Users\..\AppData\Local\pd  (delete pd folder to reset)</string>
                        <string>'</string>
                        <string>'H + Escape: Toggle visibility: </string>
                        <string>'</string>
                        <string>'List box commands:</string>
                        <string>'Delete: Remove item</string>
                        <string>'Ctrl + E: Edit</string>
                        <string>'</string>
                        <string>'Text box commands:</string>
                        <string>'Ctrl + S: Save</string>
                        <string>'Ctrl + E: Edit</string>
                        <string>'Ctrl + U: Update</string>
                        <string>'Ctrl + Z: Undo</string>
                        <string>'Ctrl + Y: Redo</string>
                        <string>'Double click or tab: Print «»</string>
                        <string>'f4: Clear</string>
                        <string>'f5: Test selected text</string>
                        <string>'</string>
                        <string>'Basic examples:  (three different modes)</string>
                        <string>'Press RCtrl then type `test` for output `Hi!`</string>
                        <string>«test-»Hi!</string>
                        <string>'Type `wel` somewhere to output `Hello` (SettingCodeLength: 3)</string>
                        <string>welcome{left 2}+{left 2}</string>
                        <string>'Press RCtrl then type `t1` for output `Goodbye`</string>
                        <string>«t1» Goodbye^a</string>
                        <string>'</string>
                        <string>'«» Code list</string>
                        <string>'«:»	Sendkeys. Example: «:test+{left 4}»</string>
                        <string>'«&lt;&lt;»	Print open code bracket (SettingBracketOpen)</string>
                        <string>'«&gt;&gt;»	Print close bracket</string>
                        <string>'«iw»	Ignore white space</string>
                        <string>'«cb:»	Copy clipboard value. ex. «cb:test»</string>
                        <string>'«sleep:»	Pause program x milliseconds. ex. «sleep:1000» (sleep 1 second)</string>
                        <string>'«,»	Sleep 77ms</string>
                        <string>'«app:»	App activate. ex. «app:PD»</string>
                        <string>'</string>
                        <string>'Keyboard code list</string>
                        <string>'«win»«-win» («w + Tab»)</string>
                        <string>'«shift»«-shift»</string>
                        <string>'«alt»«-alt»</string>
                        <string>'«ctrl»«-ctrl»</string>
                        <string>'«up»</string>
                        <string>'«right»</string>
                        <string>'«down»</string>
                        <string>'«left»</string>
                        <string>'«tab»</string>
                        <string>'«space»</string>
                        <string>'«enter»</string>
                        <string>'«menu»</string>
                        <string>'«bs» or «backspace»</string>
                        <string>'«esc» or «escape»</string>
                        <string>'«home»</string>
                        <string>'«end»</string>
                        <string>'«pu»	page up</string>
                        <string>'«pd»	page down</string>
                        <string>'«insert»</string>
                        <string>'«delete»</string>
                        <string>'«f1»	F1-F12 ex. «f4»</string>
                        <string>'«n0»	Number Pad 0-9 ex. «n3»</string>
                        <string>'«pause» or «break»</string>
                        <string>'«ps» or «printscreen»</string>
                        <string>'«nl»	Number lock</string>
                        <string>'«sl»	Scroll lock</string>
                        <string>'«MediaStop»</string>
                        <string>'«MediaPlayPause»</string>
                        <string>'«MediaNextTrack»</string>
                        <string>'«MediaPreviousTrack»</string>
                        <string>'«SelectMedia»</string>
                        <string>'«lb»	Left button</string>
                        <string>'«rb»	Right button</string>
                        <string>'«mb»	Middle button</string>
                        <string>'«lc»	Left click</string>
                        <string>'«lh»	Left hold</string>
                        <string>'«lr»	Left release</string>
                        <string>'«mc»	Middle click</string>
                        <string>'«mh»	Middle hold</string>
                        <string>'«mr»	Middle release</string>
                        <string>'«rc»	Right click</string>
                        <string>'«rh»	Right hold</string>
                        <string>'«rr»	Right release</string>
                        <string>'«rp»	Return pointer</string>
                        <string>'«xy»	Get pointer x y («xy» + Tab) </string>
                        <string>'</string>
                        <string>'More Info:</string>
                        <string>'Scroll lock: repeat </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SettingCodeLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettingSpecialKey" serializeAs="String">
                <value>163</value>
            </setting>
            <setting name="SettingTitleTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingBracketModeOnlyScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingInterval" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SettingDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingDarkModeText" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="SettingOpacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="SettingTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingHeight" serializeAs="String">
                <value>268</value>
            </setting>
            <setting name="SettingWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SettingLocationTop" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="SettingLocationLeft" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="SettingTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingFixedSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingFixedSizeHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SettingFixedSizeWidth" serializeAs="String">
                <value>253</value>
            </setting>
            <setting name="SettingListboxSelectedIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingSelectionStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingSelectionLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingTextBoxZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingListBoxFontSize" serializeAs="String">
                <value>8.25</value>
            </setting>
            <setting name="SettingSendkeysOnlyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingBracketOpen" serializeAs="String">
                <value>«</value>
            </setting>
            <setting name="SettingBracketClose" serializeAs="String">
                <value>»</value>
            </setting>
        </pd.My.MySettings>
    </userSettings>
</configuration>
