<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <pd.My.MySettings>
            <setting name="SettingDB" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>'PD 1.0.0</string>
                        <string>'Keyboard assist</string>
                        <string>'A-Z, 0-9</string>
                        <string>'Sendkeys (search engine how to use)</string>
                        <string>'</string>
                        <string>'Master Settings:</string>
                        <string>'C:\Users\..\AppData\Local\pd  (delete pd folder to reset)</string>
                        <string>'</string>
                        <string>'H + Escape: Toggle visibility: </string>
                        <string>'</string>
                        <string>'List box commands:</string>
                        <string>'Delete: Remove item</string>
                        <string>'Ctrl + E: Edit</string>
                        <string>'</string>
                        <string>'Text box commands:</string>
                        <string>'Ctrl + S: Save</string>
                        <string>'Ctrl + E: Edit</string>
                        <string>'Ctrl + U: Update</string>
                        <string>'Ctrl + Z: Undo</string>
                        <string>'Ctrl + Y: Redo</string>
                        <string>'Double click: Print</string>
                        <string>'</string>
                        <string>'Basic examples:  (three different modes)</string>
                        <string>'Press RCtrl then type `test` for output `Hi!`</string>
                        <string>«test-»Hi!</string>
                        <string>'Type `wel` somewhere to output `Hello`</string>
                        <string>welcome{left 2}+{left 2}</string>
                        <string>'Press RCtrl then type `t1` for output `Goodbye`</string>
                        <string>«t1» Goodbye^a</string>
                        <string>'</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Setting_g_length" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettingSpecialKey" serializeAs="String">
                <value>163</value>
            </setting>
            <setting name="SettingTitleTip" serializeAs="String">
                <value>True</value>
            </setting>
        </pd.My.MySettings>
    </userSettings>
</configuration>
